[Unit]
Description=Node SMS Terminal
After=mysql.service

[Service]
WorkingDirectory=/home/nodeapp/node-sms-gw
ExecStart=/usr/bin/node node_modules/@ntlab/sms-terminal/app.js \
  --config=cfg-terminal.json --auto
User=nodejs
Group=nodejs

[Install]
WantedBy=multi-user.target
