[Unit]
Description=Node SMS Terminal
After=mysql.service
StartLimitBurst=5
StartLimitIntervalSec=500

[Service]
WorkingDirectory=/home/nodeapp/node-sms-gw
ExecStart=/usr/bin/node node_modules/@ntlab/sms-terminal/app.js \
  --config=term.json --auto
User=nodejs
Group=nodejs
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
