[Unit]
Description=Node SMS Terminal
After=mysql.service

[Service]
WorkingDirectory=/home/nodeapp/node-sms-gw/terminal
ExecStart=/usr/bin/node app.js --auto
User=nodejs
Group=nodejs

[Install]
WantedBy=multi-user.target
